body {
    font-family: sans-serif;
    font-size: 15px;
}




.container {
    float: left;
}

.logo{
    width: 250px;
    height: 250px;
}

.sideBar {
    margin-top: 30px;
}

/* .row{
    background-color: lightgrey;
    width: 275px;
    border-style: solid;
    border-color: lightskyblue;
    border-radius: 1px;
} */